
<div class="container mb-5">
 <div class="d-flex justify-content-between mb-3">
   <h2>Read All Projects</h2>
  <button class="btn btn-success" *ngIf="userRole !== 'employee'"  (click)="createProjectDialog()">Create Project</button>
 </div>

 <div class="mb-2">
    <input
      class="w-75"
      pInputText
      type="text"
      (input)="dt.filterGlobal($any($event.target).value, 'contains')"
      [(ngModel)]="search"
      placeholder="Search departments.."
    />
    <p-select
      [options]="statusOptions"
      optionLabel="name"
      optionValue="value"
      placeholder="Filter By Status"
      (onChange)="dt.filter($event.value, 'status', 'equals')"
    />
  </div>



  <p-table 
    #dt
    [value]="projects"
    [paginator]="true"
    [rows]="20"
    [globalFilterFields]="['title', 'description']"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>status</th>
        <th>start_date</th>
        <th>end_date</th>
        <th>created_by</th>
        <th *ngIf="userRole !== 'employee'">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-p>
      <tr (click)="projectDetial(p)" style="cursor: pointer;">
        <td>
          {{ p.title }}
        </td>
        <td>{{ p.description }}</td>
        <td>
          {{ p.status }}
        </td>
        <td>
          {{ p.start_date | date:'dd MMM yyyy, hh:mm a'}}
        </td>
        <td>
          {{ p.end_date | date:'dd MMM yyyy, hh:mm a' }}
        </td>
        <td>
          {{ p.created_by }}
        </td>
        <td *ngIf="userRole !== 'employee'">
          <button class="btn btn-warning me-2" type="button" (click)="onEdit(p, $event)" >Edit</button>
          <button class="btn btn-danger" (click)="onDelete(p.id, $event)">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog
  header="Create New Project"
  [(visible)]="CreateProjectShowDialog"
  [modal]="true"
  [style]="{ width: '700px' }"
  [draggable]="false"
  [resizable]="false"
>
   <form [formGroup]="projectForm" (ngSubmit)="onCreate()">
    <div class="row">
      <div class="col-md-12 mb-4">
        <p-floatlabel>
          <input id="title" pInputText formControlName="title" />
          <label for="title">title</label>
        </p-floatlabel>
        <div
            *ngIf="
               projectForm.get('title')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="projectForm.get('title')?.errors?.['required']"
              >Title is Required</small
            >
            <small
              class="text-danger"
              *ngIf="projectForm.get('title')?.errors?.['minlength'] ||
              projectForm.get('title')?.errors?.['maxlength'] "
            >
              Title should be atleast 3 to 50 characters.
            </small>
          </div>
      </div>
      <div class="col-md-12 mb-4">
        <p-floatlabel>
          <textarea
            pTextarea
            id="description"
            rows="3"
            cols="70"
            formControlName="description"
            class="h-full"
          ></textarea>
          <label for="description">description</label>
        </p-floatlabel>
        <div
            *ngIf="
               projectForm.get('description')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="projectForm.get('description')?.errors?.['required']"
              >Description is Required</small
            >
            <small
              class="text-danger"
              *ngIf="projectForm.get('description')?.errors?.['minlength'] ||
              projectForm.get('description')?.errors?.['maxlength'] "
            >
              Description should be atleast 5 to 200 characters.
            </small>
          </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="flex-auto">
          <label for="buttondisplay" class="font-bold mb-2"> Start Date </label>
          <p-datepicker
            [showIcon]="true"
            formControlName="start_date"
            inputId="buttondisplay"
            [showOnFocus]="false"
          />
          <div
            *ngIf="
               projectForm.get('start_date')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="projectForm.get('start_date')?.errors?.['required']"
              >Start Date  is Required</small
            >
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="flex-auto">
          <label for="buttondisplay" class="font-bold mb-2"> End date </label>
          <p-datepicker
            [showIcon]="true"
            formControlName="end_date"
            inputId="buttondisplay"
            [showOnFocus]="false"
          />
          <div
            *ngIf="
               projectForm.get('end_date')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="projectForm.get('end_date')?.errors?.['required']"
              >End Date  is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <p-button label="Submit" type="Submit" [disabled]="projectForm.invalid" />
  </form>
</p-dialog>

<p-dialog
  header="Edit Project"
  [(visible)]="showDialog"
  [modal]="true"
  [style]="{ width: '700px' }"
  [draggable]="false"
  [resizable]="false"
>

<form [formGroup]="editProjectForm" (submit)="onEditSubmit()">
    <div class="row">
        <div class="col-md-3 mb-4">
        <p-floatlabel>
          <input id="title" pInputText formControlName="title" />
          <label for="title">title</label>
        </p-floatlabel>
        <div
            *ngIf="
               editProjectForm.get('title')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editProjectForm.get('title')?.errors?.['required']"
              >Title is Required</small
            >
            <small
              class="text-danger"
              *ngIf="editProjectForm.get('title')?.errors?.['minlength'] ||
              editProjectForm.get('title')?.errors?.['maxlength'] "
            >
              Title should be atleast 3 to 50 characters.
            </small>
          </div>
      </div>
      <div class="col-md-12 mb-4">
        <p-floatlabel>
          <textarea
            pTextarea
            id="description"
            rows="3"
            cols="70"
            formControlName="description"
            class="h-full"
          ></textarea>
          <label for="description">description</label>
        </p-floatlabel>
        <div
            *ngIf="
               editProjectForm.get('description')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editProjectForm.get('description')?.errors?.['required']"
              >Description is Required</small
            >
            <small
              class="text-danger"
              *ngIf="editProjectForm.get('description')?.errors?.['minlength'] ||
              editProjectForm.get('description')?.errors?.['maxlength'] "
            >
              Description should be atleast 5 to 200 characters.
            </small>
          </div>
      </div>
      <div class="col-md-12 mb-4">
        <p-select
            formControlName="status"
            [options]="taskStatus"
            optionValue="value"
            optionLabel="name"
            placeholder="Select status"
            class="w-full md:w-56"
          />
      </div>
      <div class="col-md-12 mb-4">
        <div class="flex-auto">
          <label for="buttondisplay" class="font-bold block mb-2"> Start Date </label>
          <p-datepicker
            [showIcon]="true"
            formControlName="start_date"
            inputId="buttondisplay"
            [showOnFocus]="false"
          />
          <div
            *ngIf="
               editProjectForm.get('start_date')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editProjectForm.get('start_date')?.errors?.['required']"
              >Start Date  is Required</small
            >
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="flex-auto">
          <label for="buttondisplay" class="font-bold block mb-2"> End Date </label>
          <p-datepicker
            [showIcon]="true"
            formControlName="end_date"
            inputId="buttondisplay"
            [showOnFocus]="false"
          />
          <div
            *ngIf="
               editProjectForm.get('end_date')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editProjectForm.get('end_date')?.errors?.['required']"
              >End Date  is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <!-- <button type="submit">Submit</button> -->
    <p-button label="Submit" type="Submit" />
</form>


</p-dialog>